[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
adafruit-blinka = "*"
pillow = "*"
adafruit-ssd1306 = "*"
adafruit-circuitpython-ssd1306 = "*"

[dev-packages]

[requires]
python_version = "3.10"
